/* .App {
   text-align: center;
   display: flex;
   align-items: baseline;
} */

/* .nombre {
   color: #ca4;
   font-size: 2.5rem;
   margin-bottom: 0;
}

.especie {
   margin: 0;
   color: #ca9;
}

.genero {
   margin: 0;
   color: #a61;
}

.imagen {
   border-radius: 1rem;
}

.boton {
   background-color: #719;
   cursor: pointer;
   color: #ccc;
} */


body {
   /* background-image: url(https://fondosmil.com/fondo/34253.jpg); */
   /* background-color: rgb(23, 21, 21); */
}
